
<div class="col-md-8 col-sm-offset-2" style="margin-bottom: 10px;" align="right">
  <form ng-submit="addQuote()">
    <input ng-model="content"/>
    <button type="submit">Add</button>
  </form>
</div>

<div class="col-md-8 col-sm-offset-2">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td align="center"><strong>Heroes</strong></td>
        <td align="center"><strong>Created_At</strong></td>
        <td align="center"><strong>Updated_At</strong></td>
        <td class="text-center"><span class="glyphicon glyphicon-cog"></span></td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="quote in quotes">
        <td>{{ quote.content }}</td>
        <td align="center">{{ quote.created_at | amDateFormat:'L' }}</td>
        <td align="center">{{ quote.updated_at | amDateFormat:'L' }}</td>
        <td class="text-center settings">
          <a class="btn btn-info btn-xs" ui-sref="edit-quote({id: quote.id})">
            <span class="glyphicon glyphicon-edit"></span> Edit
          </a>
          <button class="btn btn-danger btn-xs" ng-click="deleteQuote(quote.id)">
            <span class="glyphicon glyphicon-remove"></span> Del
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

